{% extends 'layout.html'%}
{% block content %}
<div class="container-sm w-75">
    <h1 class="text-center">Create a Post</h1>
    <form class="" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="leadImage">Lead image</label>
            <input type="file" class="form-control-file" id="leadImage" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Image displayed to the left of the post and in post header</small>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
</div>
{% endblock %}